# ImgBB Configs
imgbb=<imgbb-api-key>

# Twilio Configs
sid=<twilio-account-sid>
token=<twilio-auth-token>

# Twilio WhatsApp Notification Settings
from_number=<twilio-whatsapp-number>
to_numbers=<comma-separated-list-of-phone-numbers>
to_person=<comma-separated-list-of-person-name-abbreviations> # should be in the same order as to_numbers

# Twilio Message Templates
unknown_people=<twilio-unknown-people-message-template>
known_people=<twilio-known-people-message-template>
adding_people=<twilio-adding-people-message-template>
